body{
    background-color: #F8E8E8;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    /* border: 1px solid red; */
}
.row {
    /* border: 1px solid red; */
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: clamp(40px, 6.3vw, 90px);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: clamp(24px, 4vw, 70px);
}

h3 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: clamp(30px, 4vw, 80px);
}

/* Font styling for p */
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular weight for Roboto */
    font-size: clamp(10px, 1.5vw, 15px);
}
 /* MENU BAR */

.menu-bar {
    position: sticky;
    top: 0;
    background-color: #F8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; /* Ensures the menu bar stays on top */
}

.menu-bar a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
    font-size: 16px;
    line-height: 30px;
}

.menu-bar a:hover {
    color: #69BCC0;
}

.menu-bar .separator {
    border-left: 1px solid #444;
    height: 30px;
    margin: 0 10px;
}

/* INTRUDUCTION FOR TOP OF HOMEPAGE */

#meaghan-name {
    margin-top: 10vw;
    text-align: center;
}

/* OTHER TEXT STYLING */

#chatbot-description {
    margin-top: 5vw;
    margin-left: 4.5vw;
    text-align: center;
}

/* BUTTONS STYLING */
.button {
    background-color: rgba(255, 255, 255, 0.44); /* White background with 44% opacity */
    color: black; /* Black text color */
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 20px;
    border: 2px solid black; /* Black border */
    padding: 5px 25px; /* Padding for the button */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Fit content width */
    border-radius: 5px; /* Optional: rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    cursor: pointer; /* Pointer cursor on hover */
}

.button:hover {
    background-color: rgba(255, 255, 255, 1); /* Full opacity on hover */
}

.cloud-dog {
    width: 150px; /* Set to your image width */
    height: 150px; /* Set to your image height */
    background-image: url('assets/homepage/cloud.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; /* Smooth transition for background image */
}

.cloud-dog:hover {
    background-image: url('assets/homepage/cloud-bark.png'); /* Image on hover */
}