<header class="header">

    <nav class="navbar navbar-expand-md container">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <nav class="navbar navbar-expand-md container custom-navbar">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index.html">Home</a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="/pages/chatbot.html">ChatBot</a>
            </li>
      
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projects
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Synesthetic Composition</a>
                <a class="dropdown-item" href="#">Visual Theremin</a>
                <a class="dropdown-item" href="#">VAE Machine Learning Model</a>
              </div>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="/pages/experience.html">Experience</a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="/pages/education.html">Education</a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="/pages/contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
</header>


  




