<header class="header">
    <nav>
        <div class="menu-bar">
        <a href="/index.html">Home</a>
        <div class="separator"></div>
        <a href="/pages/chatbot">ChatBot</a>
        <div class="separator"></div>
        <a href="#">About</a>
        <div class="separator"></div>
        <a href="/pages/experience.html">Experience</a>
        <div class="separator"></div>
        <a href="#">LinkedIn</a>
        </div>
    </nav>
</header>


<!-- jQuery and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
