body{
    background-color: #F8E8E8;
    text-align: center;
}
strong {
    font-weight: bold;
}

a {
    color: #69BCC0;
    text-decoration: none;
}
.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    /* border: 1px solid red; */
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: clamp(40px, 6vw, 75px);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: clamp(30px, 4vw, 60px);
}

h3 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: clamp(30px, 4vw, 80px);
}

h4 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: clamp(25px, 2.5vw, 60px);
}

/* Font styling for p */
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular weight for Roboto */
    font-size: clamp(15px, 1.5vw, 15px);
}
 /* NAV BAR */

#nav-item-override {
    border-left: 1px solid #ccc;
    padding-left: 15px;
  }
  
#nav-item-override {
    text-align: center;
    margin-right: 20px;
}
  
#nav-link-override:hover {
    color: #69BCC0;
}

#dropdown-menu {
    background-color: #F8E8E8;
}

#dropdown-item:hover {
    color: #69BCC0
}


/* INTRUDUCTION FOR TOP OF HOMEPAGE */

#meaghan-name {
    margin-top: 5.5vw;
    text-align: center;
}

/* OTHER TEXT STYLING */

#chatbot-description {
    margin-top: 5vw;
    margin-left: 4.5vw;
    text-align: center;
}

/* BUTTONS STYLING */
.button {
    background-color: rgba(255, 255, 255, 0.44); /* White background with 44% opacity */
    color: black; /* Black text color */
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 20px;
    border: 2px solid black; /* Black border */
    padding: 5px 25px; /* Padding for the button */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Fit content width */
    border-radius: 5px; /* Optional: rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    cursor: pointer; /* Pointer cursor on hover */
}

.button:hover {
    background-color: rgba(255, 255, 255, 1); /* Full opacity on hover */
    border-color: #69BCC0;
}

.cloud-dog {
    width: 150px; /* Set to your image width */
    height: 150px; /* Set to your image height */
    background-image: url('/assets/cloud-dog/cloud-sit.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; /* Smooth transition for background image */
}

.cloud-dog:hover {
    background-image: url('/assets/cloud-dog/cloud-bark.png'); /* Image on hover */
}


 /* ***************************** DEVICES ***************************** */
 .device {
    margin-top: 90px;
    width: 100%;
    max-width: 250px;
    height: 500px;
    background: #D1D1D6;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border: 5px solid #fff;
}

/* Device Views */
.device-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
}

.device-view.smartphone-view {
    opacity: 1;
}

.device-view.browser-view {
    opacity: 0;
}

/* Smartphone Layout */
.smartphone .camera {
    width: 60px;
    height: 10px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease;
}

.smartphone .screen {
    width: 90%;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    margin: 60px auto 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smartphone .screen .screen-content {
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

/* Smartphone Home Button */
.smartphone .home-button {
    width: 44px;
    height: 44px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease;
}

/* Browser Layout */
.browser .browser-buttons {
    display: none;
    position: absolute;
    top: 20px;
    left: 15px;
    gap: 8px;
    transition: all 1s ease;
}

.browser .browser-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: all 1s ease;
}

.browser .browser-button:nth-child(1) {
    background-color: #ff5f57; /* Red */
}

.browser .browser-button:nth-child(2) {
    background-color: #ffbd2e; /* Yellow */
}

.browser .browser-button:nth-child(3) {
    background-color: #28c840; /* Green */
}

.browser .search-bar {
    
    display: none;
    position: absolute;
    top: 20px;
    left: 20%;
    width: 70%;
    height: 40px;
    background: #F5F5F5;
    border-radius: 20px;
    color: #ddd;
    padding: 5px 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
    transition: all 1s ease;
    opacity: 0;
}

/* Browser Screen */
.browser .screen {
    width: 93%;
    height: calc(400px); /* Adjust this value to account for the gap */
    border-radius: 20px;
    margin: 60px auto 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px; /* Adjust this value if needed */
}


.browser .screen .screen-content {
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

/* Hover Animation */
.device:hover {
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
}

.device:hover .smartphone .home-button {
    opacity: 0;
}

.device:hover .smartphone .camera {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    background: #444;
}

.device:hover .browser .browser-buttons {
    display: flex;
}

.device:hover .search-bar {
    display: block;
    opacity: 1;
}

/* Transition between views */
.device:hover .device-view.smartphone-view {
    opacity: 0;
}

.device:hover .device-view.browser-view {
    opacity: 1;
}

.job-desc {
    padding-top: 30px;
    text-align: left;
}


/* typing effect */

.typing-container {
    overflow: hidden; /* Ensures the text is hidden initially */
    white-space: nowrap; /* Prevents the text from wrapping */
    border-right: 3px solid black; /* Creates a cursor effect */
    width: 0; /* Starts with zero width */
    animation: typing 4s steps(30, end) forwards, hide-caret 0.1s forwards 4s; /* Apply typing and then hide cursor */
}

.typing-text {
    display: inline; /* Keeps text in a single line */
}

@keyframes typing {
    from { width: 0; } /* Starts with no text */
    to { width: 100%; } /* Expands to full width */
}

@keyframes hide-caret {
    from { border-right: 3px solid black; }
    to { border-right: none; }
}

/* fade in effect */

.fade-in-text {
    opacity: 0; /* Start with the text hidden */
    animation: fadeIn 2s ease-in forwards; /* 2-second fade-in animation */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Fully transparent */
    }
    to {
        opacity: 1; /* Fully visible */
    }
}


/* BUTTONS STYLING */
.tools-button {
    background-color: rgba(255, 255, 255, 0.44); /* White background with 44% opacity */
    color: black; /* Black text color */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: 2px solid white; /* Black border */
    padding: 3px 10px; /* Padding for the button */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    border-radius: 5px; 
    margin-top: 5px;
}

/* .button:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: #69BCC0;
} */